<h1>Coupons</h1>
  <% @coupons.each do |coupon| %>
  Store: <%= link_to coupon.store, coupon_path(coupon)=%><br>
  Coupon Code: <%= link_to coupon.coupon_code, coupon_path(coupon) %><br><br>
  <% end %><br><br><br>
  <%= link_to "New Coupon", new_coupon_path%>
